button {
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #ffff;
  border: 2px solid #ffff;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #00471b;
}

.click-btn {
  background-color: #002ead;
}

.restart-btn{
  background-color: #5a01a7;
}
